# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart.temp
 Generated.xcconfig
flutter_*.png

# IDE
.idea/
.vscode/
*.iml

# Supabase local
supabase/.branches/
supabase/.temp/
supabase/.env
supabase/tests/node_modules/

# Sistema operacional
.DS_Store
Thumbs.db

# Diversos
*.log
